.item-detail-container {
  padding: 20px;
  margin-top: 30px;
}
.item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-brand {
  margin-top: 10px;
  font-weight: bold;
}
.item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.item-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.item-price {
  font-size: 20px;
  color: #0f9e16;
  margin-bottom: 10px;
}
.item-description {
  font-size: 16px;
}


